# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
*.cmake

# Build directories
build/
bin/
lib/
out/
cmake-build-release/
cmake-build-debug/

*.o
*.obj
*.so
*.a
*.dll
*.exe


.vscode/
*.sln
*.vcxproj
*.vcxproj.filters
*.user

*.cbp
*.layout


*.pro.user
*.pro.user.*

*.xcodeproj/
*.xcworkspace/
*.xcuserstate


.idea/
*.iml


*.tmp
*.temp
*.log
*.dSYM/
*.swp
*.swo

# Other files
*.DS_Store
*.class
*.jar
*.war
*.zip
*.tar.gz
*.tgz
*.gz
*.7z
*.rar
*.bak
*.orig
*.swp
*.swo
*.pid
*.seed
*.coverage
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
*.pdb
*.ilk
*.idb
*.ipch
*.pch
*.sdf
*.suo
*.userprefs
*.ncb
*.aps
*.pch
*.tlog
*.lastbuildstate